<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <style>
    table {
      width: 300px;
      margin: auto;
      border-collapse: collapse;
    }
    td {
      text-align: center;
    }
    .text-center {
      text-align: center;
    }
  </style>
  <title>Users</title>
</head>
<body>
<h2 class="text-center">Update users</h2>
<form action="#" th:action="@{/users/update}" th:object="${user}" method="post" class="text-center">
  <label for="id">ID</label>
  <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
  <br/>
  <label for="firstName">First name</label>
  <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
  <br/>
  <label for="lastName">Last name</label>
  <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
  <br/>
  <label for="age">Age</label>
  <input type="text" th:field="*{age}" id="age" placeholder="Age">
  <br/>
  <input type="submit" value="Update User">
</form>
</body>
</html>